# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# Keep Unix line endings on scripts and code so the app runs the same on macOS, Linux and Windows
* text=auto eol=lf
bin/* text eol=lf
*.png binary
*.jpg binary
*.ico binary
